.idea
/src/app/resources/
/bin/
/src/app/resources_enc/
/fyne-cross/
/Command_Line_Tools_for_Xcode_12.4.dmg
/src/app/Icon.png
/jetbrainser.syso
/resources.zip
/src/app/jetbrainser.exe.syso
/brainser.iml
/SDKs/
